@import 'samagri/pallete';
@import 'samagri/typography';

.Wrapper  {
  padding-top: 60px;
}

.Label  {
  @include color('igray');
  @include font('source', 'regular', em(14));
}

.Button {
  display: table;
  padding: 10px 30px;
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
  outline: none;
  transition: transform 300ms;

  @include font('source', 'semi-bold', em(14));
  letter-spacing: em(0.79);
  text-transform: uppercase;

  @include color('vicious');
  @include color('vicious', 'border');

  &:hover {
    @include color('pure-white');
    @include color('vicious', 'bg');
    @include color('dark-vicious', 'border');
  }

  &:active  {
    transform: scale(0.9, 0.9);
  }
}
