<div id="timer-wrapper">
  <p class="timer">timer</p>
  <input type="button" class="timer-start" name="start" value="start"/>
  <input type="button" class="timer-pause" name="pause" value="pause"/>
  <input type="button" class="timer-stop" name="stop" value="stop"/>
</div>
